
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */
.text-color{
    color: #4E47FF;
}
.dark-1{
    color: rgba(37, 36, 50, 0.5)
}

.btn-primary{
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
/* header, nav styles */
.header{
    /* margin: 50px 150px; */
    background-image: url(../images/Assets/Hero-bg.png);
}
.nav-title{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-logo{
    /* font-size: 20px; */
    /* font-weight: bold; */
}
.banner-title{
    margin-top: 150px;
    text-align: center;
}
.banner-heading{
    font-size: 50px;
    font-weight: 700;
    margin-right: 260px;
    margin-left: 260px;
}
.bottom{
    margin-bottom: 150px;
}

/* main styles */
/* action */

.action{
    display: flex;
    /* justify-content: space-around; */
    margin: 150px 250px;
    gap: 200px;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
}
.action-description{
    font-size: 24px;
}

main div img{
    border-radius: 45px;
    height: 320px;
    width: 350px;
}
